body {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #272142;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  color: #272142;
  margin-bottom: 5px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  font-weight: 500;
  margin-bottom: 5px;
  color: #272142;
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  text-transform: capitalize;
}

li strong {
  color: #272142;
  font-weight: 700;
}
.weather-app-wrapper {
  max-width: 800px;
  margin: 30px auto;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
  border: 1px solid #dadde1;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0px 30px 50px #f9f7fd;
  background: white;
}
.weather {
  margin: 10px 0;
}
.overview {
  margin-bottom: 30px;
}
.weather-temperature {
  margin-top: 30px;
}
.weather-temperature img {
  margin: 10px 0;
}
.temperature {
  font-size: 50px;
  line-height: 36px;
  font-weight: 700;
  position: relative;
  line-height: 1;
  bottom: -20px;
  margin-left: 20px;
  margin-right: -5px;
}
.units {
  letter-spacing: -2px;
}
